.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/edit-Vector.png);
  border: 1px solid #ffffff;
  background-size: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 0;
}
