.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0 19px 0 0;
  }
}
