.element__delete {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;
}
