.profile {
  margin: 0 auto 0;
  padding: 0;
  width: calc(100% - 200px * 2);
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* max-height: 120px; */
}

@media screen and (max-width: 1045px) {
  .profile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 282px;
    width: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 600px) {
  .profile {
    width: 100%;
    max-width: 282px;
  }
}
