.header {
  padding: 0;
  margin: 45px auto 40px;
  width: calc(100% - 200px * 2);
  max-width: 880px;
  position: relative;
  min-height: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
  .header {
    margin: 45px 0 40px;
    width: 100%;
  }
}
