.header {
  padding: 0;
  margin: 45px auto 40px;
  width: calc(100% - 200px * 2);
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 1045px) {
  .header {
    width: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    margin: 28px auto 38px;
    min-height: 56px;
  }
}
