.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 66px auto 60px;
  padding: 0;
  width: calc(100% - 200px * 2);
  max-width: 880px;
}

@media screen and (max-width: 1045px) {
  .footer {
    width: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: calc(100% - 19px * 2);
    margin: 48px auto 36px;
  }
}
